<html>

<head>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
	<!-- <style type="text/css"> -->
	<ul>
		<li class="logo"><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 135 46" width="135" height="46">
				<path class="cls-1" d="M57.88,9.71h5.28l12.26,16v-16H81V35.78H76.1L63.5,19.08v16.7H57.88Z"></path>
				<path class="cls-1" d="M94,25.56l-10-15.85h6.64l6.3,10.56,6.3-10.56h6.46l-10,15.68V35.78H93.8V25.56Z"></path>
				<path class="cls-1" d="M112.19,24.7v-15H118V24.53c0,4.26,2,6.48,5.61,6.48s5.62-2.05,5.62-6.31v-15H135V24.53c0,7.84-4.43,11.76-11.41,11.76C116.44,36.29,112.19,32.37,112.19,24.7Z"></path>
				<path class="cls-1" d="M46,46H0V0H46V46ZM21.45,40.55c0,.34.68.51.85,0l1.53-12.78H19.92l1.53,12.78ZM25.2,26.92V25H18.56v1.88ZM23.32,24c8.34.34,9-7.32,9-10.22h0c-.17.68-1.37,2.73-4.43,4.09A7.38,7.38,0,0,0,23.32,24Zm-.85-.51c1.36-6.3,6.47-6.47,7-7.67.68-1.87-.68-5.28-1-5.62h-.17A11.15,11.15,0,0,1,25.54,14c-1,.85-5.45,4.26-3.07,9.54Zm-1,.34c-2.89-6,2.89-9.88,3.75-10.73.17-.17.17-.17.17-.34A15.55,15.55,0,0,0,24,7.33h-.17c-.51,1.87-3.06,4.6-3.57,5.28-4.43,5.11-3.41,8.35,1.19,11.24ZM20.26,24c-4.77-2.89-4.26-6.81-2.21-9.71V14a7.46,7.46,0,0,0-1.2-2.9c0-.17-.17-.17-.17,0,0,.86-1,2.9-2.38,5.12-1.36,2.38-1.36,7.66,6,7.83Z"></path>
			</svg></li>
		<li><a href="/home">Home</a></li>
		<li><a href="/logout">Logout</a></li>
	</ul>
	<div>
		<h1>Welcome {{username}}</h1>
		<!-- <form action="/post" method="POST">
	<input type="text" name = "blog" placeholder="post" required/> </br>
	<input type="submit" value = Post />
</form> -->
		Here are the people that has been tagged in all visible posts:
		<table>
			<th>Photo ID</th>
			<th> Tagged username</th>
			<th> Tagged name</th>
			{% for line in posts %}
			<tr>
				<td>{{line.pID}}</td>
				<td>{{line.username}}</td>
				<td>{{line.firstName + " " + line.lastName}}</td>
			</tr>
			{% endfor %}
		</table>
		<br>
		Here are all unaccepted tags:
		<table>
			<th>Photo ID</th>
			<th> Tagged username</th>
			<th> Tagged name</th>
			{% for line in posts2 %}
			<tr>
				<td>{{line.pID}}</td>
				<td>{{line.username}}</td>
				<td>{{line.firstName + " " + line.lastName}}</td>
			</tr>
			{% endfor %}
		</table>
		<br>
		<form action="/accept_tags" method="POST">
			<input type="text" name="post" placeholder="Photo ID" required /> </br>
			<input type="text" name="accept" placeholder="Do you accept the tag? (Yes/No)" required /></br>
			<input type="submit" value=Submit>
			{% if error %}
			<p class="error"><strong>Error:</strong> {{error}}</p>
			{% endif %}
		</form>
		<br>
		<a class="button" href="/add_tags">Add tags to visible posts</a>
	</div>
</body>

</html>
